*.env
.env
/.idea
\node_modules
\.php_cs\.cache
.DS_Store
\.vscode/
.phpstorm.meta.php
config/ide-helper.php
!public/
public/img*
!public/img/
public/img/*
!public/img/assets/
/vendor
composer.lock
mifoto.jpeg
/ProBlog/app/config/parameters.yml