{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends '@BloggerBlog/layout.html.twig' %}

{% block body %}
    <header>
        <h1>Contacto</h1>
    </header>
    <article>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        {{ form_end(form) }}
    </article>
{% endblock %}